h2 {
  font-size: 2rem;
  padding: 0;
  margin: 0;
}

h4 {
  font-size: 0.9rem;
}

h5 {
  font-size: 0.7rem;
}

.bi-heart {
  font-size: 1.2rem;
}

.heart {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  color: white;
}
.heart:hover {
  cursor: pointer;
}

.product-container {
  margin-top: 5rem;
}
.change-product {
  border-bottom: 1px solid transparent;
  margin: 1rem;
}
.change-product:hover {
  border-bottom: 1px solid var(--color-white);
}
