h2 {
  font-size: 2rem;
  padding: 0;
  margin: 0;
}

h4 {
  font-size: 0.9rem;
}

h5 {
  font-size: 0.7rem;
}

.btn-preorder {
  background-color: white;
  border-radius: 5px;
  border: 1px solid black;
  color: black;
}

.btn-preorder:hover {
  background-color: grey;
  border: 2px solid white;
  border-radius: 5px;
  color: white;
}

.bi-heart {
  font-size: 1.2rem;
}

.heart {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  color: white;
}
