.product-container {
  display: flex;
}
.shop-container {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.shop-filter-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
  justify-content: center;
  align-items: center;
}
