.product-container {
  display: flex;
}
.shop-container {
  padding-top: 5rem;
  padding-bottom: 3rem;
}
.shop-filter-container {
  display: flex;
  width: 100%;
  margin: 1rem 0 1rem 0;
  justify-content: space-between;
  text-align: right;
  align-items: right;
  color: white;
}
.filter-selector {
  background-color: var(--color-black);
  color: var(--color-white);
  border: 0;
  border-bottom: 1px solid var(--color-white);
  border-radius: 0;
}
.filter-selector:focus {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px var(--color-gray);
  border: 1px solid var(--color-gray);
}
