.about-team-text {
  font-family: Pinyon;
  color: var(--color-white);
  font-size: 2rem;
}
.about-team-title {
  font-family: Pinyon;
  color: var(--color-white);
  font-size: 2rem;
}
.team-container {
  max-width: 65vw;
}
