.modal-content-style {
  font-family: Quicksand;
  color: white;
}

.modal-header-article {
  border-bottom: none;
  padding-bottom: 0;
}

.modal-content-article {
  border-radius: 0px;
  background-color: black;
}

.about-project-title-brand-modal {
  height: 4rem;
  max-height: 4rem !important;
  margin-left: 15px;
}
