.item-cart-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-black);
  color: var(--color-white);
  font-family: Quicksand;
  border-radius: 4px;
}

.item-cart-img {
  width: 100px;
}

.item-price {
  font-family: Quicksand;
  font-size: 1.3rem;
}

.item-cart-name {
  font-size: 1.3rem;
}
