.navbar-project {
  background-color: var(--color-black);
  max-width: 100vw;
}

.offcanvas-project {
  background-color: var(--color-black);
  overflow-y: hidden;
  margin-top: 0;
}

.text-navbar-links {
  text-decoration: none;
  color: var(--color-white);
  font-size: 1.2rem;
  font-weight: lighter;
  padding-bottom: 3px;
  border-bottom: 1px solid var(--color-white);
  transition: 0.1s ease;
}

.text-navbar-links:hover {
  transition: 0.1s ease;
  border-bottom: 3px solid var(--color-white);
}

#toggler-icon-project {
  width: 30px;
  height: 30px;
  padding: 0px;
  margin: 0px;
}

.text-nabvar-brand {
  font-family: Pinyon;
  color: var(--color-white);
  font-size: 2.5rem;
  text-decoration: none;
  cursor: pointer;
}

.navbar-icon {
  width: 40px;
  height: 40px;
}

.img-logo-kairos {
  width: 120px;
  object-fit: cover;
}

.btn-login {
  color: var(--color-white);
  font-family: Cormorant;
}

.about-project-link {
  position: absolute;
  top: 28px;
  left: 70px;
}

a {
  text-decoration: none;
  color: var(--color-white);
}
.login-container {
  padding: 1.5rem;
  position: absolute;
  right: 1.5rem;
  display: flex;
  gap: 20px;
}
.left-container {
  padding: 1.5rem;
  position: absolute;
  left: 4.5rem;
}

.nav-general-cont {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
}
.nav-brands-right {
  display: flex;
  justify-content: space-around;
  width: 400px;
}
.nav-brands-left {
  display: flex;
  justify-content: space-around;
  width: 400px;
}
.nav-brand {
  min-width: 400px;
  text-align: center;
}

.btn {
  font-size: 17px;
  background: transparent;
  border: none;
  padding: 0.5rem 1rem;
  color: #ffffff;
  text-transform: uppercase;
  position: relative;
  transition: 0.5s ease;
  border-bottom: 1px solid white;
  border-radius: 0 !important;
}

.btn::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: #ffffff;
  transition: 0.5s ease;
}

.btn:hover {
  color: #000000;
  transition-delay: 0.5s;
}

.btn:hover::before {
  width: 100%;
}

.btn::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0;
  width: 100%;
  background-color: #ffffff;
  transition: 0.4s ease;
  z-index: -1;
}

.btn:hover::after {
  height: 100%;
  transition-delay: 0.4s;
  color: aliceblue;
}
