.navbar-project {
  background-color: var(--color-black);
}

.offcanvas-project {
  background-color: var(--color-black);
  overflow-y: hidden;
  margin-top: 0;
}

.text-navbar-links {
  text-decoration: none;
  color: var(--color-white);
  font-size: 1rem;
  font-weight: lighter;
}

#toggler-icon-project {
  width: 30px;
  height: 30px;
  padding: 0px;
  margin: 0px;
}

.text-nabvar-brand {
  font-family: Pinyon;
  color: var(--color-white);
  font-size: 2.5rem;
  text-decoration: none;
}

.navbar-icon {
  width: 40px;
  height: 40px;
}

.img-logo-kairos {
  width: 120px;
  object-fit: cover;
}

.btn-login {
  color: var(--color-white);
  font-family: Cormorant;
}

.about-project-link {
  position: absolute;
  top: 28px;
  left: 70px;
}
