#product3-victorinox-logo {
  height: 4rem;
  padding-bottom: 0.7rem;
}

#about-intro-container-product3 {
  min-height: 80%;
  min-width: 60vw;
  padding: 0 0 5rem 0;
}

.carousel-video-element-product3 {
  width: 95%;
  height: auto;
  object-fit: cover;
  margin-left: 2rem;
  clip-path: polygon(0 10%, 100% 10%, 100% 90%, 0% 90%);
}

.about-col-product3 {
  padding: 0;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
}

.about-row-product3 {
  max-width: 100%;
  min-height: 100%;
  margin: auto;
}

.about-intro-text-product3 {
  text-align: left;
  padding: 1rem 3rem 0 3rem;
  font-family: Quicksand;
}

.about-intro-title-product3 {
  padding: 0 2rem 1rem 2rem;
  width: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-bottom: 1px solid var(--color-white);
  font-family: Pinyon;
  color: var(--color-white);
  font-size: 3.6rem;
  white-space: nowrap;
}

.tech-img-product3 {
  width: auto;
  height: 80px;
}
.tech-container-product3 {
  display: flex;
  gap: 50px;
  margin: 2rem;
}
.technology-card-product3 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: Quicksand;
}

.product3-row {
  min-width: 100%;
  min-height: 100%;
  margin: auto;
  background-color: var(--color-main);
}
