.product-card {
  margin: 1rem;
  height: 400px;
  background-color: var(--color-black);
}
.product-card-button {
  text-decoration: none;
}
.product-card-logo {
  margin: 0 auto;
  margin-top: 40px;
  height: 100%;
  width: 350px;
}
.card-info {
  text-align: center;
  font-size: 1.1rem;
  margin: 0;
  color: var(--color-white);
}

.product-img {
  margin: auto;
  object-fit: contain;
  height: 100%;
  border-radius: 0;
}
.product-card-button {
  font-size: 20px;
  color: var(--color-white);
  font-family: Quicksand;
  font-weight: 400;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  text-transform: uppercase;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}
.product-card-button:focus,
.product-card-button:hover {
  color: var(--color-white);
}
.product-card-button:focus:after,
.product-card-button:hover:after {
  width: 100%;
  left: 0%;
}
.product-card-button:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: var(--color-white);
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}
.product-card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Quicksand;
  height: 30%;
  padding: 0;
}
.featured-pill {
  padding: 0.3rem 0.5rem 0.3rem 0.5rem;
  color: var(--color-black);
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  background-color: transparent;
  background-color: var(--color-white);
  font-weight: semibold;
}
.container-img-featured {
  position: relative;
  height: 70%;
  display: flex;
  justify-content: right;
}
.btn-fast-add {
  position: absolute;
  right: 0;
  top: 0;
  width: 40px;
  height: 40px;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.btn-add-cart {
  font-size: 17px;
  background: transparent;
  border: none;
  padding: 0.5rem 1rem;
  color: var(--color-white);
  text-transform: uppercase;
  position: relative;
  transition: 0.3s ease;
  border: 1px solid var(--color-white);
  border-radius: 0 !important;
}

.btn-add-cart::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: #ffffff;
  transition: 0.3s ease;
}

.btn-add-cart:hover {
  cursor: pointer;
  color: #000000;
  transition-delay: 0.3s;
}

.btn-add-cart:hover::before {
  width: 100%;
}

.btn-add-cart::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0;
  width: 100%;
  background-color: #ffffff;
  transition: 0.2s ease;
  z-index: 0;
}

.btn-add-cart:hover::after {
  height: 100%;
  transition-delay: 0.2s;
  color: #ffffff;
}

.img-product-add {
  height: 25px;
  transition: 0.1s ease;
}
.img-product-add:hover {
  scale: 1.05;
  transition: 0.1s ease;
}
.icon-bookmark {
  position: absolute;
  left: 0;
  top: 0;
}
.out-of-stock {
  color: rgb(255, 82, 82);
  font-family: Quicksand;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  border-bottom: 1px solid rgb(255, 82, 82);
}

@media screen and (max-width: 992px) {
  .card-info {
    font-size: 1.2rem;
    color: var(--color-white);
  }
  .product-card {
    height: 500px;
  }
}
@media screen and (max-width: 768px) {
  .card-info {
    font-size: 1.2rem;
  }
  .product-card {
    height: 80vh;
  }
}
