#product3-logo {
  height: 80%;
  padding-bottom: 0.7rem;
}

#about-intro-container-product3 {
  min-height: 100vh;
  min-width: 100vw;
}

.carousel-video-element-product3 {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: flex;
}

.about-col-product3 {
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  padding: 0 0 3rem 0;
}

.about-row-product3 {
  min-height: 100vh;
  min-width: 100vw;
  margin: auto;
}

.about-intro-text-product3 {
  text-align: center;
  padding: 1rem 20% 0 20%;
  font-family: Quicksand;
}

.about-intro-title-product3 {
  padding: 0 2rem 1rem 2rem;
  width: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-bottom: 1px solid var(--color-white);
  font-family: Pinyon;
  color: var(--color-white);
  font-size: 3.6rem;
  white-space: nowrap;
}

.tech-img-product3 {
  width: auto;
  height: 80px;
}
.tech-container-product3 {
  display: flex;
  gap: 50px;
  margin: 2rem;
}
.technology-card-product3 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: Quicksand;
}

.product3-row {
  min-width: 100vw;
  min-height: 100vh;
  background-color: var(--color-main);
}
