.product-card {
  margin: 1rem;
  height: 500px;
  background-color: var(--color-black);
}

.product-card-button {
  text-decoration: none;
}
.product-card-logo {
  margin: 0 auto;
  margin-top: 40px;
  height: 100%;
  width: 350px;
}
.card-info {
  text-align: center;
  height: 30%;
  font-size: 1.1rem;
  color: var(--color-white);
}

.product-img {
  width: 100%;
  object-fit: cover;
  height: 70%;
}

.product-card-button {
  font-size: 20px;
  color: var(--color-white);
  font-family: Quicksand;
  font-weight: 400;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  text-transform: uppercase;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}

.product-card-button:focus,
.product-card-button:hover {
  color: var(--color-white);
}

.product-card-button:focus:after,
.product-card-button:hover:after {
  width: 100%;
  left: 0%;
}

.product-card-button:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: var(--color-white);
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}

.product-card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: Quicksand;
}
