#product2-logo {
  height: 80%;
  padding-bottom: 1rem;
  margin-left: 1rem;
}

#about-intro-container-product2 {
  min-height: 100%;
  min-width: 100vw;
}

.about-intro-img-product2 {
  min-height: 100vh;
  width: auto;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
}

.about-col-product2 {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-main);
  color: whitesmoke;
}
.about-row-product2 {
  max-width: 100%;
  min-height: 100%;
  margin: auto;
}
.about-intro-text-product2 {
  text-align: center;
  padding: 1rem 3rem 0 3rem;
  font-family: Quicksand;
}
.about-intro-title-product2 {
  padding: 0 2rem 1rem 2rem;
  width: 65%;
  border-bottom: 1px solid var(--color-white);
  font-family: Pinyon;
  color: var(--color-white);
  font-size: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.tech-img-product2 {
  width: auto;
  height: 80px;
}
.tech-container-product2 {
  display: flex;
  gap: 50px;
  margin: 2rem;
}
.technology-card-product2 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: Quicksand;
}
