.card-team {
  width: 200px;
  height: 300px;
  background: #f5f5f5;
  padding: 0;
}

.card-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100% !important;
  align-items: center;
}

/*Image*/
.card-avatar {
  min-width: 100px;
  min-height: 100px;
  transition: transform 0.2s ease;
  margin-bottom: 1rem;
  overflow: hidden;
}
.card-img {
  max-width: 100px;
  height: auto;
}

/*Card footer*/
.card-social {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.card-link {
  margin-top: 0.5rem;
  padding: 0.2rem;
  border-radius: 40px;
  border: 1px solid black;
  height: 50px;
  width: 50px;
}
.card-social__item {
  list-style: none;
}

.card-social__item svg {
  display: block;
  height: 18px;
  width: 18px;
  fill: #515f65;
  cursor: pointer;
}

/*Text*/
.card-title {
  color: #333;
  font-size: 1.5em;
  font-weight: 600;
  line-height: 2rem;
}

.card-subtitle {
  color: #859ba8;
  font-size: 0.8em;
}
