.profile-title {
  margin-top: 3rem;
  font-family: Quicksand;
}
.info-field {
  text-align: left;
  color: var(--color-white);
  margin: 0;
}
.user-info-fields {
  width: 500px;
  margin: 3rem auto 0 auto;
}
