:root {
  --color-white: whitesmoke;
  --color-black: #000000;
}
@font-face {
  font-family: Pinyon;
  src: url(./assets/fonts/Ailerons-TrialVersion.otf);
}
@font-face {
  font-family: Quicksand;
  src: url(./assets/fonts/Quicksand.ttf);
}
@font-face {
  font-family: Cormorant;
  src: url(./assets/fonts/cgB.ttf);
}

* {
  box-sizing: border-box;
}
body {
  background-color: var(--color-black);
  overflow-x: hidden;
}

.btn {
  font-size: 17px;
  background: transparent;
  border: none;
  padding: 0.5rem 1rem;
  color: #ffffff;
  text-transform: uppercase;
  position: relative;
  transition: 0.5s ease;
  border-bottom: 1px solid white;
  border-radius: 0 !important;
}

.btn::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: #ffffff;
  transition: 0.5s ease;
}

.btn:hover {
  color: #000000;
  transition-delay: 0.5s;
}

.btn:hover::before {
  width: 100%;
}

.btn::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0;
  width: 100%;
  background-color: #ffffff;
  transition: 0.4s ease;
  z-index: -1;
}

.btn:hover::after {
  height: 100%;
  transition-delay: 0.4s;
  color: #ffffff;
}

/*Scroll bar*/
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #000000;
}
::-webkit-scrollbar-thumb {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
