:root {
  --color-main: ; /*#501a1ae6*/
  --color-white: whitesmoke;
  --color-black: #000000;
  --color-beige: whitesmoke;
}
@font-face {
  font-family: Pinyon;
  src: url(./assets/fonts/Ailerons-TrialVersion.otf);
}
@font-face {
  font-family: Quicksand;
  src: url(./assets/fonts/Quicksand.ttf);
}
@font-face {
  font-family: Cormorant;
  src: url(./assets/fonts/cgB.ttf);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
