:root {
  --color-main: ; /*#501a1ae6*/
  --color-white: whitesmoke;
  --color-black: #000000; /*021d35*/
  --color-beige: whitesmoke;
}
@font-face {
  font-family: Pinyon;
  src: url(./assets/fonts/Pinyon.ttf);
}
@font-face {
  font-family: Quicksand;
  src: url(./assets/fonts/Quicksand.ttf);
}
@font-face {
  font-family: Cormorant;
  src: url(./assets/fonts/cgB.ttf);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
button {
  font-size: 20px;
  border-radius: 20px;
  border: 1px solid var(--color-white);
  color: var(--color-white);
  font-family: Quicksand;
  font-weight: 400;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  text-transform: uppercase;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}

button:focus,
button:hover {
  color: var(--color-white);
}

button:focus:after,
button:hover:after {
  width: 100%;
  left: 0%;
}

button:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: var(--color-white);
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}
